

 <!-- FontAwesome -->
 <script src="https://kit.fontawesome.com/938a18ead6.js" crossorigin="anonymous"></script>
 #firstBox{
    width: 200px;
    height: 100px;
    background-color: #f6eeeb;
    padding: 20px;
    margin: 50px;
    border: 10px;
    z-index: 2;
    position: relative;
}
}
.title {
    color: black;
    background-color: #f6eeeb;
  }

.title .titleBG {
    background-color: #f6eeeb;
}
